
// Body

$body-background-color: #c8c8c8;
$body-color: #555;
$link-color: black;
$link-background-color: #7fc8c8;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    background-color: $body-background-color;
    color: $body-color;
    font-family: 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
